<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="/static/assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="/static/assets/img/gitlab-icon.png">
  <title>
    GitLab Metrics Dashboard
  </title>
  <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <link href="/static/assets/css/nucleo-icons.css" rel="stylesheet" />
  <link href="/static/assets/css/black-dashboard.css?v=1.0.0" rel="stylesheet" />
  <link href="/static/assets/demo/demo.css" rel="stylesheet" />

  {% block stylesheets %}{% endblock stylesheets %}

</head>

<body class="">
  <div class="wrapper">
    <div class="main-panel">
      {% include 'site_template/navigation.html' %}
      <div class="content">
        {% block content %}{% endblock content %}
      </div>
    </div>
  </div>
  {% include 'site_template/scripts.html' %}
  {% block javascripts %}{% endblock javascripts %}
</body>

</html>